{% extends "group_chats_creation/main_group_creation.html" %}
{% block form %}
<div class="row" style="width: 100%;margin-right: 0px;margin-left: 0px;">
    <div class="col" style="width: 100%;text-align: center;">
        <form method="post" action="{{ url_for('process_file') }}" enctype="multipart/form-data" >
            <div class="row" style="margin-bottom: 12px;">
                <div class="col text-end"><label class="col-form-label" style="font-weight: bold;">Archivo de contactos:</label></div>
                <div class="col"><input class="form-control" type="file" name="contacts" /></div>
            </div>
            <div class="row">
                <div class="col" style="margin: 12px;"><button class="btn btn-dark" type="submit">Subir</button></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}