{% extends 'root_templates/main.html' %}
{% block contenido %}
        <div class="container" style="margin: 0px;padding: 0px;width: 80%;margin-right: 10%;margin-left: 10%;height: 96%;">
            <div class="row" style="width: 100%;margin-right: 0px;margin-left: 0px;">
                <div class="col" style="width: 100%;">
                    <h2>Instrucciones</h2>
                </div>
            </div>
            <div class="row" style="width: 100%;margin-right: 0px;margin-left: 0px;">
                <div class="col" style="width: 100%;">
                    <ol>
                        <li>Necesitarás un archivo csv con los números de teléfono de los contactos que desees añadir.<br><br></li>
                        <li>Asegúrate de que esos contactos los tienes añadidos en tu teléfono, si no, no se podrá crear el grupo correctamente.<br><br></li>
                        <li>Durante el procedimiento, no podrás utilizar este PC&nbsp; :(&nbsp;<br>Esto se debe a que se pondrá en marcha una tarea automatizada, que escribirá y hará click por ti.<br><br></li>
                        <li>Si durante el procedimiento percibes que algo está malfuncionando, pondremos a tu disposición un botón del pánico para parar la ejecución.</li>
                    </ol>
                </div>
            </div>
            <hr>
            {% block form %}
            {% endblock %}
        {% if error[0] %}
            <div class="row" style="width: 100%;margin-right: 0px;margin-left: 0px;height: 60px">
                <div class="col" style="height: 100%">
                    <p style="text-align: center;color: var(--bs-red);background: #3b2020;border-radius: 30px; height: 100%; padding-top: 10px; padding-bottom: 10px">{{ error[1] }}</p>
                </div>
            </div>
        {% endif %}
        </div>
{% endblock %}